.allCharacters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.character{
    width: calc(50%/2);
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    background-color: #FF8C00;
}

.textBio{
    width: 400px;
}